.imageStyle {
    height: 270px;
    width: 190px;
    filter: drop-shadow(0px 0px 5px #ffe921) contrast(110%);
}

.mainParentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
}

.allCharacterDiv {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
}

.characterContainer {
    padding: 20px;
    border: 3px solid whitesmoke;
    background-color: grey;
    max-width: 240px;
    height: 500px;
    position: relative;
    transition: transform 300ms ease, box-shadow 300ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

.characterContainer:hover {
    transform: rotateX(40deg);
    box-shadow: inset 0 0 0 116px black;
}

.characterContainer>h2>p {
    font-family: 'Saiyan Sans - Right', 'Arial', sans-serif;
}

.characterContainer>p {
    font-weight: bold;
}

.gokuPop {
    width: 200px;
    height: 450px;
    opacity: 0;
    position: absolute;
    z-index: 10;
}

.characterContainer:hover .gokuPop {
    opacity: 1;
    transition: 400ms ease;
    transform: scale(1.4) translateY(-50px);
    filter: drop-shadow(0px 0px 10px #98fff6) contrast(110%);
}

.noCharacterFound {
    background-color: #ffe921;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    transform: translateY(-20);
}